/lib/
node_modules/
/node_modules/
json/
/json/
target/
/target/
/tmp/
/temp/
/data/
tmp/*
*.zip
*.db
*.lock
.env
config.pro.toml
/.serverless/
.serverless/
/__pycache__/
__pycache__/
MP_verify_S8jv1leqae3b0tyB.txt

*verify*
