<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>weixin jssdk demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css" />
</head>
<body>

 <section id="app">

    <van-row >
          <van-col span="6" v-for="(v,i) in jsApiList">
              <van-button @click="say(v)" :type="buttons[i%5]" >{{v}} </van-button>
          </van-col>
    </van-row>


    <van-row>
        <van-divider dashed>
            <a href="https://www.weixinsxy.com/jssdk/
        ">demo</a>
        </van-divider>

        <van-divider>
            <a href="https://www.weixinsxy.com/jssdk/js/demo.js">js</a>
        </van-divider>
    </van-row>

     






    <van-row >

        <van-divider>
            <a href="https://mp.weixin.qq.com/debug/cgi-bin/sandbox?t=jsapisign ">jsapisign</a>
        </van-divider>


        <p>


          签名生成规则如下：

            参与签名的字段包括有效的 jsapi_ticket（获取方式详见微信 JSSDK 文档）， noncestr （随机字符串，由开发者随机生成），timestamp （由开发者生成的当前时间戳）， url（当前网页的URL，不包含#及其后面部分。注意：对于没有只有域名没有 path 的 URL ，浏览器会自动加上 / 作为 path，如打开 http://qq.com 则获取到的 URL 为 http://qq.com/）。
            对所有待签名参数按照字段名的 ASCII 码从小到大排序（字典序）后，使用 URL 键值对的格式（即key1=value1&key2=value2…）拼接成字符串 string1。这里需要注意的是所有参数名均为小写字符。
            接下来对 string1 作 sha1 加密，字段名和字段值都采用原始值，不进行 URL 转义。即 signature=sha1(string1)。
        
        </p>
   </van-row >

    <van-row >
        <p>{{config}}<p>
    </van-row >


    <van-row >
          <van-field
                v-model="href"
                name="href"
                label="href"
                placeholder="..."
          />
    </van-row >


    <van-row >
        <van-form >

          <van-field
                v-for="(a,b) in config_keys"
                v-model="config[a]"
                :name="a"
                :label="a"
                :placeholder="a"
          />
        </van-form >
   </van-row >





 </section>

</body>
</html>

<script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jsSHA/2.4.2/sha1.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>




<script src="/js/sign.js"></script>
<script src="/js/index.js"></script>


<script charset="utf-8">
</script>
